/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
html {
  scrollbar-color: var(--color-primary) var(--color-indiglo-800);
}

body {
  accent-color: var(--color-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  font-weight: var(--font-weight-body-regular);
  letter-spacing: -0.03rem;
  line-height: 2rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
}

h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-display-extrabold);
  letter-spacing: -0.05rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-display-bold);
  letter-spacing: -0.05rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-display-bold);
  letter-spacing: -0.05rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-display-bold);
  letter-spacing: -0.05rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  transition:
    color var(--transition-duration),
    text-decoration-color var(--transition-duration);
}

a:visited {
  text-decoration-color: var(--color-shadow);
}

a:hover,
a:active,
a:focus-visible {
  color: var(--color-primary);
  text-decoration-color: var(--color-primary);
}

ul li::marker {
  color: var(--color-primary);
}

ol li::marker {
  color: var(--color-fadeText);
}

blockquote {
  border-inline-start: 2px solid var(--color-primary);
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline: 1rem;
  background-color: var(--color-surface);
}

blockquote > * + * {
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
}

:focus-visible {
  outline: 3px solid;
  outline-color: var(--color-primary);
  outline-offset: 0.3ch;
}

strong {
  font-weight: 650;
}

abbr {
  text-decoration-color: var(--color-primary);
}

img[width][height] {
  height: auto;
}

hr {
  border-style: solid;
  color: var(--color-surface);
}

pre {
  overflow-x: auto;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 0;
  gap: var(--spacing-1);
}

figure figcaption {
  color: var(--color-fadeText);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
