/* Global variables */
:root {
  --transition-duration: 250ms;
  --transition-timing: ease;

  --color-light: var(--color-neutrals-white);
  --color-dark: var(--color-neutrals-black);

  --color-bg: var(--color-light);
  --color-text: var(--color-dark);
  --color-primary: var(--color-aqua-400);
  --color-primary-highlight: var(--color-aqua-300);
  --color-primary-subtle: var(--color-aqua-500);
  --color-primary-faded: var(--color-aqua-600);
  --color-secondary: var(--color-carotte-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-dark);
    --color-text: var(--color-light);

    --color-primary: var(--color-aqua-300);
    --color-primary-highlight: var(--color-aqua-200);
    --color-primary-subtle: var(--color-aqua-400);
    --color-primary-faded: var(--color-aqua-100);
  }
}
