{% set allFonts = fonts | entries %}

html {
{% for fontType, fontConfig in fonts %}
    {% set fallbackFonts = fontConfig.fallbacks | join(", ") %}
    --font-family-{{ fontType }}: {{ fontConfig.family }}, {{ fallbackFonts }};
    {% for weightName, weightConfig in fontConfig.weights %}
        {% if weightConfig.style != "italic" %}
            --font-weight-{{ fontType }}-{{ weightName | lower }}: {{ weightConfig.weight }};
        {% endif %}
    {% endfor %}
{% endfor %}
}

