/* Adapted from the Tokyo Night theme on GitHub
 * https://github.com/folke/tokyonight.nvim/blob/main/extras/prism/tokyonight_night.js
 */

pre:has(code) {
  background-color: #1a1b26;
  border-radius: 0.5em;
  padding: 1em;
  color: #c0caf5;
}

.token.prolog,
.token.builtin {
  color: #f7768e;
}

.token.function {
  color: #7aa2f7;
}

.token.symbol {
  color: #2ac3de;
}

.token.punctuation {
  color: #bb9af7;
}

.token.string,
.token.char,
.token.tag,
.token.selector {
  color: #9ece6a;
}

.token.keyword {
  color: #9d7cd8;
}

.token.operator {
  color: #89ddff;
}

.token.constant,
.token.boolean {
  color: #ff9e64;
}

.token.variable {
  color: #c0caf5;
}

.token.comment {
  color: #565f89;
  font-style: italic;
}

.token.attr-name {
  color: #73daca;
}

.token.class-name {
  color: #ff757f;
}

.token.plain-text {
  color: #c0caf5;
}
