.footer {
  background-color: var(--color-bg-soft);
}

.footer-grid {
  display: grid;
}

.footer-socials {
  grid-column: 1 / -1;
}

@media (min-width: 32rem) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-pages ul {
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
}
