.navbar {
  backdrop-filter: blur(3px);
  background-color: color-mix(in srgb, var(--color-bg) 60%, transparent);
  background-image: linear-gradient(var(--color-bg) 20%, transparent);
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .links {
  list-style-type: none;
  gap: 1.5rem;
}
