---
title: Recent games
permalink: "games/recent/index.html"
---

{% from "macros/media-grid.njk" import grid %}
{% set data = collections.game | reverse %}
{% set tags = collections.game | allTagCounts(["game"]) | limit(5) %}
<section class="flow">
    <h1>Recent games</h1>
    <p>A collection of games I've played.</p>
    <h2>
        <a href="../tags">Tags</a>
    </h2>
    <ul class="categories cluster list-none p-0 line-height-m">
        {% for tag in tags %}
            <li>
                <a class="button" href="../tag/{{ tag.tag | slugify }}">
                    {% include "svgs/frame.svg" %}
                {{ tag.tag }}</a>
            </li>
        {% endfor %}
    </ul>
    {{ grid(data) }}
</section>
