---
title: Tagged in Games
permalink: "games/tags/index.html"
---

{% from "macros/media-grid.njk" import grid %}
{% set tags = collections.game | allTagCounts(["game"]) %}
<section class="flow">
    <h1>Tagged in Games</h1>
    <ul class="[ categories ] [ cluster list-none p-0 line-height-m ]">
        {% for tag in tags %}
            <li>
                <a class="[ button ]" href="/games/tag/{{ tag.tag | slugify }}">
                    {% include "svgs/frame.svg" %}
                {{ tag.tag }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
