---
title: Recent movies
permalink: "watching/movies/recent/index.html"
---

{% from "macros/media-grid.njk" import grid %}
{% set data = collections.movie | reverse %}
{% set tags = collections.movie | allTagCounts(["movie"]) | limit(5) %}
<section class="flow">
    <h1>Recent movies</h1>
    <p>A collection of movies I've seen recently.</p>
    <h2>
        <a href="../tags">Tags</a>
    </h2>
    <ul class="[ categories ] [ cluster list-none p-0 line-height-m ]">
        {% for tag in tags %}
            <li>
                <a class="[ button ]" href="../tag/{{ tag.tag | slugify }}">
                    {% include "svgs/frame.svg" %}
                {{ tag.tag }}</a>
            </li>
        {% endfor %}
    </ul>
    {{ grid(data) }}
</section>
