{% from "macros/utils.njk" import stars %}
{% macro one(post, format, showType = true) %}
    <article class="[ posts-list-item column-gap-0.5 justify-between line-height-m ]">
        <div class="[ cluster gap-0.5 ]">
            <a href="{{ post.url }}" class="[ line-height-m ]">{{ post.data.title }}</a>
            {% if showType %}<p class="[ font-size-s text-fadeText ]">{{ post.data.tags[1] }}</p>{% endif %}
        </div>
        <div class="[ cluster ]">
            {% if post.data.rating %}{{ stars(post.data.rating) }}{% endif %}
        </div>
    </article>
{% endmacro %}
{% macro list(posts, showType = true) %}
    <ol class="[ flow p-0 ]" role="list">
        {% for post in posts %}<li>{{ one(post, format, showType) }}</li>{% endfor %}
    </ol>
{% endmacro %}
{% macro yearList(posts, year, format = "MM/DD", showType = true) %}
    <section class="[ flow ]">
        <header class="[ cluster gap-0.5 ]">
            <h2>{{ year }}</h2>
            <p class="[ pill ]">{{ posts | length }}</p>
        </header>
        {{ list(posts, format) }}
    </section>
{% endmacro %}
