{% macro format(dateString) %}
    <time class="[ date ] [ flex items-center gap-0.5 ]" datetime="{{ date }}">
        {% include "svgs/calendar.svg" %}{{ dateString | formatDate("MMMM Do YYYY") }}
    </time>
{% endmacro %}
