{% macro format(dateString) %}
    <time class="[ date ] [ flex items-center gap-0.5 text-fadeText ]"
          datetime="{{ dateString }}">
        <span class="[ text-primary line-height-s ]">{% include "svgs/calendar.svg" %}</span>{{ dateString | formatDate("MMMM Do YYYY") }}
    </time>
{% endmacro %}
