<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- charset/http-equiv/viewport -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% if title %}{{ title }} •{% endif %}
            {{ meta.siteName }}
        </title>
        <link rel="stylesheet" href="/css/styles.css" />
        {% include "partials/meta.html" %}
        {% for preload in preloads %}
            <link rel="preload"
                  as="{{ preload.as }}"
                  href="{{ preload.href }}"
                  {% if preload.crossorigin %}crossorigin{% endif %} />
        {% endfor %}
        {% set css %}
            {% include "css/colorVariables.njk" %}
            {% include "css/fontFace.njk" %}
            {% include "css/fontVariables.njk" %}
            {% include "css/spacing.njk" %}
        {% endset %}
        <style>{{ css | minifyCss | safe }}</style>
        {% if youtube %}
            <!-- youtube, if true in frontmatter -->
            <script type="module"
                    src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"></script>
        {% endif %}
    </head>
    <body class="[ flex-col ]">
        {% include "partials/header.html" %}
        <main id="main" class="[ flow flex-1 wrapper ]">
            {{ content | safe }}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
