---
layout: base
---

{% set filteredTags = tags | filter([tags[0], tags[1]]) %}
<article class="[ catalogue ] [ flow ]">
    <time class="[ date ] [ flex items-center gap-0.5 my-1 ]"
          datetime="{{ date }}">
        {% include "svgs/calendar.svg" %}
    {{ date | formatDate("MMMM Do YYYY") }}</time>
    <section class="[ catalogue-meta ] [ gap-1 mb-1 ]">
        {% if image %}
            {% image image, "", "" %}
        {% endif %}
        <div>
            <h1>{{ title }}</h1>
            <h2 class="[ text-fadeText my-0.5 ]">{{ year }}</h2>
            {% if filteredTags | length > 0 %}
                <ul class="[ flex list-none p-0 gap-0.5 mb-0 ]">
                    {% for tag in filteredTags %}<li class="[ bg-surface radius-1 px-1 py-0.5 ]">{{ tag }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
    {{ content | safe }}
</article>
