---
layout: base
---

<article class="[ flow ]">
    <header class="[ flow ]" style="--flow-space: 1rem">
        {% from "macros/date.njk" import format %}
        {{ format(date) }}
        <h1>{{ title }}</h1>
        <ul class="[ categories ] [ flex gap-1 list-none p-0 ]">
            {% for tag in tags | filter(["post"]) %}
                <li>
                    <a class="[ flex ]" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
    {{ content | safe }}
</article>
