---
layout: base
---

<article class="[ flow ]">
    <header class="[ flow ]" style="--flow-space: 1rem">
        <time class="[ date ][ flex items-center gap-0.5 ]" datetime="{{ date }}">
            {% include "svgs/calendar.svg" %}
        {{ date | formatDate("MMMM D, YYYY") }}</time>
        <h1>{{ title }}</h1>
        <ul class="[ categories ] [ flex gap-1 list-none p-0 ]">
            {% for tag in tags | filter(["post"]) %}
                <li>
                    <a class="[ flex ]" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
    {{ content | safe }}
</article>
