---
layout: "layouts/base"
---

{% from "macros/date.njk" import format %}
<article class="[ flow ]">
    <header class="[ flow flow-space-1 mb-2 ]">
        {{ format(page.date) }}
        <h1>{{ title }}</h1>
        <p class="[ text-fadeText flow-space-0.25 ]">{{ excerpt }}</p>
        <ul class="[ categories ] [ cluster list-none p-0 flow-space-2 line-height-m ]">
            {% for tag in tags | filter(["post"]) %}
                <li>
                    <a class="[ button ]" href="/tags/{{ tag | slugify }}">
                        {% include "svgs/frame.svg" %}
                    {{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
    {{ content | safe }}
</article>
