---
layout: "layouts/base"
---

{% from "macros/date.njk" import format %}
<article class="[ flow ]">
    <header class="[ flow flow-space-1 mb-2 ]">
        {{ format(page.date) }}
        <h1>{{ title }}</h1>
        <ul class="[ categories ] [ cluster list-none p-0 ]">
            {% for tag in tags | filter(["post"]) %}
                <li class="[ flex gap-0.25 ]">
                    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
    {{ content | safe }}
</article>
