---
title: Tagged in Shows
permalink: "watching/shows/tags/index.html"
---

{% from "macros/media-grid.njk" import grid %}
{% set tags = collections.tv | allTagCounts(["tv"]) %}
<section class="flow">
    <h1>Tagged in Shows</h1>
    <ul class="[ categories ] [ cluster list-none p-0 line-height-m ]">
        {% for tag in tags %}
            <li>
                <a class="[ button ]" href="../tag/{{ tag.tag | slugify }}">
                    {% include "svgs/frame.svg" %}
                {{ tag.tag }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
