/*
CLUSTER
More info: https://every-layout.dev/layouts/cluster/
A layout that lets you distribute items with consitent
spacing, regardless of their size
*/

.cluster {
  --gap: var(--spacing-1);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, --spacing-1);
  justify-content: flex-start;
  align-items: center;
}
