.font-size-s {
  font-size: 1rem;
}

.font-size-m {
  font-size: 1.125rem;
}

.font-size-l {
  font-size: 1.5rem;
}

.font-size-xl {
  font-size: 2rem;
}

.font-size-2xl {
  font-size: 3rem;
}

.line-height-s {
  line-height: 0.8rem;
}

.line-height-m {
  line-height: 1.125rem;
}

.line-height-l {
  line-height: 1.5rem;
}

.line-height-xl {
  line-height: 2rem;
}

.text-skew {
  transform: var(--text-skew);
}
