.button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  background-color: var(--color-white);
  color: var(--color-shadow);
  box-shadow:
    1px 1px 0px var(--color-shadow),
    2px 2px 0 var(--color-shadow);
  padding-block: var(--spacing-0\.25);
  padding-inline: var(--spacing-0\.5);
  border-radius: var(--spacing-0\.25);
  border: 1px solid var(--color-shadow);
  text-decoration: none;
  font-size: 0.8rem;
  transition:
    box-shadow var(--transition-duration),
    transform var(--transition-duration),
    background-color var(--transition-duration),
    color var(--transition-duration);
}

.button:hover {
  background-color: color-mix(
    in srgb,
    var(--color-white) 90%,
    var(--color-primary)
  );
}

.button:active {
  box-shadow: 0 0 0 var(--color-shadow);
  transform: translate(2px, 2px);
}
