.catalogue-list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-1);
}

.catalogue h2 {
  --flow-space: var(--spacing-0\.5);
  transform: var(--text-skew);
  color: var(--color-fadeText);
}

.catalogue source,
.catalogue img {
  max-width: 300px;
}
