.catalogue-list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-1);
}

.catalogue-list-item a {
  display: block;
}

.catalogue source,
.catalogue img {
  max-width: 300px;
}

.catalogue h1 {
  transform: none;
}

.catalogue-meta {
  text-align: center;
}
