.categories {
  color: var(--text-color);
}

.categories li {
  --text-color: var(--color-fadeText);
}

.categories > li > a {
  color: var(--text-color);
  text-decoration-color: var(--text-color);
}

.categories li:has(a:hover) {
  --text-color: var(--color-primary);
}

.categories > li > a::before {
  content: "#";
  color: var(--text-color);
  user-select: none;
  transition: color var(--transition-duration);
}
