.categories li {
  color: var(--color-fadeText);
}

.categories li > a {
  text-decoration-color: var(--color-fadeText);
}

.categories li > a:hover {
  text-decoration-color: inherit;
}

.categories li::before {
  content: "#";
  user-select: none;
}
