.media-image {
  --aspect-ratio: 0.8;

  border: 1px solid var(--color-shadow);
  border-radius: var(--spacing-0\.5);
  overflow: hidden;

  source,
  img {
    aspect-ratio: var(--aspect-ratio);
    height: auto;
    object-fit: cover;
  }
}

.media-image--tall {
  --aspect-ratio: 0.67;
}

.media-meta-grid {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.meta-grid--full {
  grid-column: 1/3;
}
