/*
 * From Every Layout
 * GRID
 * https://every-layout.dev/layouts/grid/
 */

.media-grid {
  display: grid;
  grid-gap: var(--spacing-0\.5);
}

.media-grid.square {
  grid-template-columns: repeat(auto-fit, minmax(min(140px, 100%), 1fr));
}

.media-grid.poster {
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
}
