.pill {
  background-color: var(--color-surface);
  border-radius: 1rem;
  transition: transform var(--transition-duration);
}

.pill:hover {
  background-color: var(--color-text);
  color: var(--color-primary);
  transform: translateY(-2px);
}

.pill:active {
  transform: translateY(2px);
}

a.pill {
  text-decoration: none;
}

.pill-count {
  color: var(--color-fadeText);
}

.pill:hover .pill-count {
  color: var(--color-border);
}
