.pill {
  background-color: var(--color-surface);
  border-radius: var(--spacing-1);
  display: flex;
  padding-inline: var(--spacing-1);
  padding-block: var(--spacing-0\.5);
  gap: var(--spacing-0\.5);
  transition:
    transform var(--transition-duration),
    background-color 75ms;
}

.pill[data-state="small"] {
  color: var(--color-fadeText);
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-inline: var(--spacing-0\.5);
  border-radius: var(--spacing-0\.25);
}

.pill[data-state="extrasmall"] {
  color: var(--color-fadeText);
  padding-inline: var(--spacing-0\.5);
  padding-block: var(--spacing-0\.25);
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-radius: var(--spacing-0\.5);
}

.pill:not([data-state]):hover {
  background-color: var(--color-text);
  color: var(--color-primary);
  transform: translateY(-2px);
}

.pill:not([data-state]):active {
  transform: translateY(2px);
}

a.pill {
  text-decoration: none;
}

.pill-count {
  color: var(--color-fadeText);
}

.pill:not([data-state]):hover .pill-count {
  color: var(--color-border);
}
