.site-logo .wordmark {
  text-decoration: none;
  margin-block-start: -6px;
  transform: skew(0deg, -1deg) translateY(2px);
}

.site-logo .logo img {
  filter: drop-shadow(0 1px 0 var(--color-white))
    drop-shadow(1px 0 0 var(--color-white))
    drop-shadow(-1px 0 0 var(--color-white))
    drop-shadow(0 -1px 0 var(--color-white))
    drop-shadow(
      0 0 6px color-mix(in srgb, var(--color-primary) 80%, var(--color-white))
    );
}

.site-logo .wordmark > span {
  text-shadow:
    -1px 1px 0 var(--shadow-color),
    0 1px 0 var(--shadow-color),
    -1px -1px 0 var(--shadow-color),
    1px -1px 0 var(--shadow-color),
    1px 1px 0 var(--shadow-color),
    -1px 2px 0 var(--shadow-color),
    0px 2px 0 var(--shadow-color),
    1px 2px 0 var(--shadow-color),
    -1px 3px 0 var(--shadow-color),
    0px 3px 0 var(--shadow-color),
    1px 3px 0 var(--shadow-color);
  color: var(--color-white);
  font-family: var(--font-family-display);
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  transition: transform var(--transition-duration);
}

.site-logo .wordmark > span:hover {
  transform: translateY(-2px);
}

.site-logo .wordmark > * {
  --shadow-color: var(--color-shadow);
  z-index: 1;
}

.site-logo .wordmark > :nth-child(2) {
  z-index: 0;
  color: color-mix(in srgb, var(--color-white) 90%, var(--color-primary));
}
