.navbar {
  backdrop-filter: blur(3px);
  background-color: color-mix(
    in srgb,
    var(--color-background) 70%,
    transparent
  );
  background-image: linear-gradient(var(--color-background) 20%, transparent);
  position: sticky;
  top: 0;
  z-index: 1;
}
