.navbar {
  background-color: var(--color-primary);
  position: relative;
}

.navbar::after {
  content: "";
  display: block;
  mask-image: var(--triangles);
  background-color: var(--color-primary);
  mask-size: 1.5rem auto;
  mask-repeat: repeat-x;
  height: 24px;
  transform: translateY(16px);
  position: absolute;
  left: 0;
  right: 0;
}

.menu > li {
  filter: drop-shadow(1px 0 0 var(--color-white))
    drop-shadow(-1px 0 0 var(--color-white))
    drop-shadow(0 -1px 0 var(--color-white))
    drop-shadow(0 1px 0 var(--color-white));
}

.menu-button {
  display: block;
  line-height: 1rem;
  background-color: var(--color-white);
  color: var(--color-shadow);
  box-shadow:
    1px 1px 0px var(--color-shadow),
    2px 2px 0 var(--color-shadow);
  padding-block: var(--spacing-0\.25);
  padding-inline: var(--spacing-0\.5);
  border-radius: var(--spacing-0\.25);
  border: 1px solid var(--color-shadow);
  text-decoration: none;
  font-size: 0.8rem;
  transition:
    box-shadow var(--transition-duration),
    transform var(--transition-duration),
    background-color var(--transition-duration),
    color var(--transition-duration);
}

.menu-button:hover {
  background-color: color-mix(
    in srgb,
    var(--color-white) 90%,
    var(--color-primary)
  );
}

.menu-button:active {
  box-shadow: 0 0 0 var(--color-shadow);
  transform: translate(2px, 2px);
}
