.navbar {
  background-color: var(--color-primary);
  position: relative;
}

.navbar::after {
  content: "";
  display: block;
  mask-image: var(--triangles);
  background-color: var(--color-primary);
  mask-size: 1.5rem auto;
  mask-repeat: repeat-x;
  height: 24px;
  transform: translateY(16px);
  position: absolute;
  left: 0;
  right: 0;
}
