.stars li {
  line-height: 16px; /* Size of icons */
  transition: margin ease-in-out var(--transition-duration);
}

.star-filled {
  color: var(--color-primary);
  z-index: 1;
}

.star-empty {
  color: var(--color-fadeText);
}

.stars li:not(:first-child) {
  margin-inline-start: -6px;
}

.stars:hover li {
  margin-inline-start: 0;
}
