/* Global variables */
:root {
  --transition-duration: 250ms;
  --transition-timing: ease;

  --color-white: white;
  --color-black: black;

  --text-skew: skew(0deg, -1deg);

  --triangles: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path stroke-width="0" d="M0,0 40,40 80,0z" /></svg>');
}
