---
layout: "layouts/base"
permalink: /catalogue/index.html
title: Catalogue
---

{% from "macros/catalogue.njk" import list %}
<h1>Catalogue</h1>
<p>A collection of my thoughts on various forms of media that I consume.</p>
{% set catalogueTypes = collections.catalogueByType | keys %}
<ul class="[ cluster list-none p-0 gap-0.5 ]">
    {% for type in catalogueTypes %}
        <li>
            <a class="[ pill ] [ flex px-1 py-0.5 gap-0.5 ]"
               href="/catalogue/{{ type | pluralize }}">{{ type | pluralize }}<span class="[ pill-count ]">{{ collections.catalogueByType[ type ] | length }}</span></a>
        </li>
    {% endfor %}
</ul>
{% set itemsByYear = collections.catalogue | organizeByDate %}
{% set years = itemsByYear | keys | sort("desc") %}
<section class="[ flow ]">
    {% for year in years %}
        {% set itemsInYear = itemsByYear[year] %}
        <h2>{{ year }}</h2>
        <div class="[ items ] [ flex-col gap-0.25 ]">{{ list(itemsInYear) }}</div>
        <div>{{ list(itemsInYear) }}</div>
    {% endfor %}
</section>
