---
layout: "layouts/base"
pagination:
    data: collections.catalogueByType
    size: 1
    alias: type
    filter:
        - catalogue
eleventyExcludeFromCollections: true
permalink: /catalogue/{{ type | pluralize | slugify }}/index.html
eleventyComputed:
    title: Catalogue - {{ type | pluralize | capitalize }}
---

{% from "macros/catalogue.njk" import yearList %}
<h1>Catalogue: {{ type | pluralize | capitalize }}</h1>
{% include "partials/catalogue-types.html" %}
{% set itemsByYear = collections.catalogueByType[type] | reverse | organizeByDate %}
{% set years = itemsByYear | keys | sort("desc") %}
<section class="[ flow ]">
    {% for year in years %}
        {% set itemsInYear = itemsByYear[year] %}
        {{ yearList(itemsInYear, year, false) }}
    {% endfor %}
</section>
