---
layout: "layouts/base"
pagination:
    data: collections.catalogueByType
    size: 1
    alias: type
    filter:
        - catalogue
eleventyExcludeFromCollections: true
permalink: /catalogue/{{ type | pluralize | slugify }}/index.html
eleventyComputed:
    title: Catalogue - {{ type | pluralize | capitalize }}
---

{% from "macros/catalogue.njk" import list %}
<h1>{{ type | pluralize | capitalize }}</h1>
{% set catalogueTypes = collections.catalogueByType | keys %}
<ul class="[ cluster list-none p-0 ]" style="--gap: var(--spacing-0\.5)">
    {% for type in catalogueTypes %}
        <li>
            <a class="[ pill ] [ flex px-1 py-0.5 gap-0.5 ]"
               href="/catalogue/{{ type | pluralize }}">{{ type | pluralize }}<span class="[ pill-count ]">{{ collections.catalogueByType[ type ] | length }}</span></a>
        </li>
    {% endfor %}
</ul>
{% set itemsByYear = collections.catalogueByType[type] | organizeByDate %}
{% set years = itemsByYear | keys | sort("desc") %}
<section class="[ flow ]">
    {% for year in years %}
        {% set itemsInYear = itemsByYear[year] %}
        <h2>{{ year }}</h2>
        <div class="[ items ] [ flex-col gap-0.25 ]">{{ list(itemsInYear) }}</div>
    {% endfor %}
</section>
