---
layout: "layouts/base"
permalink: /catalogue/index.html
title: Catalogue
---

{% from "macros/catalogue.njk" import yearList %}
<h1>Catalogue</h1>
<p>A collection of my thoughts on various forms of media that I consume.</p>
{% include "partials/catalogue-types.html" %}
{% set itemsByYear = collections.catalogue | reverse | organizeByDate %}
{% set years = itemsByYear | keys | sort("desc") %}
<section class="[ flow ]">
    {% for year in years %}
        {% set itemsInYear = itemsByYear[year] %}
        {{ yearList(itemsInYear, year) }}
    {% endfor %}
</section>
