---
layout: "layouts/base"
permalink: /catalogue/index.html
title: Catalogue
---

<h1>Catalogue</h1>
<p>A collection of my thoughts on various forms of media that I consume.</p>
{% set items = collections.catalogue %}
{% set catalogueTypes = collections.catalogueByType | keys %}
<ul class="[ cluster list-none p-0 ]" style="--gap: 0.5rem">
    {% for type in catalogueTypes %}
        <li>
            <a class="[ pill ] [ flex px-1 py-0.5 gap-0.5 ]"
               href="/catalogue/{{ type | pluralize }}">{{ type | pluralize }}<span class="[ pill-count ]">{{ collections.catalogueByType[ type ] | length }}</span></a>
        </li>
    {% endfor %}
</ul>
{% include "partials/catalogue.html" %}
