---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
Sitemap: {{ meta.url }}/sitemap.xml

User-agent: *
Disallow: /404.html
Disallow: /admin/index.html
Disallow: /admin/config.yml

{{ robots }}
