---
layout: base
pagination:
    data: collections.catalogueByType
    size: 1
    alias: type
    filter:
        - catalogue
eleventyExcludeFromCollections: true
permalink: /catalogue/{{ type | pluralize | slugify }}/index.html
eleventyComputed:
    title: Catalogue - {{ type | pluralize | capitalize }}
---

<h1>{{ type | pluralize | capitalize }}</h1>
{% set catalogueTypes = collections.catalogueByType | keys %}
<ul class="[ flex list-none gap-0.5 p-0 ]">
    {% for type in catalogueTypes %}
        <li>
            <a class="[ pill ] [ flex px-1 py-0.5 gap-0.5 ]"
               href="/catalogue/{{ type | pluralize }}">{{ type | pluralize }}<span class="[ pill-count ]">{{ collections.catalogueByType[ type ] | length }}</span></a>
        </li>
    {% endfor %}
</ul>
{% set items = collections.catalogueByType[ type ] %}
{% include "partials/catalogue.html" %}
