{% set itemsByYear = items | organizeByDate %}
{% set years = itemsByYear | keys | sort("desc") %}
<section class="[ archive ]">
    {% for year in years %}
        {% set itemsInYear = itemsByYear[year] %}
        <div class="[ flex mt-2 mb-0.5 ]">
            <h2>{{ year }}</h2>
        </div>
        <div class="[ items ] [ flex-col gap-0.25 ]">
            {% for item in itemsInYear %}
                {% set type = item.data.tags[1] %}
                <div class="[ flex items-center justify-between gap-0.5 ]">
                    <a href="{{ item.url }}">{{ item.data.title }}</a>
                    <hr class="[ archive-divider ]" />
                    <p class="[ catalogue-type ] [ px-0.5 bg-surface text-primary ]">{{ type }}</p>
                    <p class="[ archive-date ]">{{ item.date | formatDate("MM/DD") }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
