<footer class="[ bg-surface mt-1.5 py-1.5 ]">
    <div class="[ wrapper flow ]">
        <div class="[ repel ]">
            <p>&copy; {{ meta.author }} 2018 - 2024.</p>
            <nav>
                <ul class="[ cluster p-0 m-0 line-height-m ]" role="list">
                    {% for link in navigation.bottom %}
                        <li>
                            <a href="{{ link.url }}">{{ link.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="[ repel ]">
            <nav class="[ flow-space-0.5 ]">
                <ul class="[ menu ] [ cluster p-0 m-0 gap-0.5 ]" role="list">
                    <li>
                        <span class="[ visually-hidden ]">Feeds</span>
                        <a href="/feeds" class="[ button ]" aria-label="View RSS feed">{% include "svgs/rss.svg" %}</a>
                    </li>
                    {% for key, url in meta.social %}
                        {% set alt = key | capitalize %}
                        <li>
                            <span class="[ visually-hidden ]">{{ alt }}</span>
                            <a href="{{ url }}"
                               class="[ button ]"
                               target="_blank"
                               rel="me external noreferrer noopener"
                               aria-label="View {{ alt }} page">{% include "svgs/social-" + key + ".svg" %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="[ cluster p-0 m-0 ]" role="list">
                <li>
                    <a href="/webrings">Webrings</a>
                </li>
                <li>
                    <a href="/changelog">Changelog</a>
                </li>
                <li>
                    <a href="{{ meta.repoUrl }}"
                       target="_blank"
                       rel="me external noreferrer noopener">Source</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
