<header class="[ navbar ][ py-1 mb-2 ]">
    <div class="[ wrapper ]">
        <nav class="[ repel ]">
            <div class="[ site-logo ] [ flex items-center gap-0.5 ]">
                <a class="[ logo ] [ flex items-center justify-center ]"
                   aria-label="Go to index"
                   href="{{ meta.url }}">
                    <img src="/assets/images/logo.svg" width="32" height="32" alt="" />
                </a>
                <a class="[ wordmark ] [ flex ]"
                   href="{{ meta.url }}"
                   aria-label="Go to index">
                    <span>wonderful</span>
                    <span>frog</span>
                </a>
            </div>
            {% include "partials/menu.html" %}
        </nav>
    </div>
</header>
