<header class="navbar py-1 mb-2">
    <a href="#main">Skip to content</a>
    <div class="wrapper">
        <nav class="repel">
            <div class="site-logo flex items-center gap-0.5">
                <a class="logo flex items-center justify-center"
                   aria-label="Go to index"
                   href="{{ meta.url }}">
                    <img eleventy:ignore
                         src="/assets/images/logo.svg"
                         width="32"
                         height="32"
                         alt="" />
                </a>
                <a class="wordmark flex" href="{{ meta.url }}" aria-label="Go to index">
                    <svg height="0" width="0">
                        <filter id="3d_text" color-interpolation-filters="sRGB">
                        <feDropShadow dx="0" dy="1" stdDeviation="0" flood-opacity="1" flood-color="var(--color-shadow)" />
                        <feDropShadow dx="0" dy="2" stdDeviation="0" flood-opacity="1" flood-color="var(--color-shadow)" />
                        </filter>
                    </svg>
                    <span>wonderful</span>
                    <span>frog</span>
                </a>
            </div>
            {% include "partials/menu.html" %}
        </nav>
    </div>
</header>
