{% set postsByDate = posts | entries %}
<section>
    {% for postsGroupedByYear in postsByDate %}
        {% set year = postsGroupedByYear | first %}
        {% set postsGroupedByMonth = postsGroupedByYear | last | entries %}
        {% for postsInMonth in postsGroupedByMonth %}
            {% set isFirstMonthOfList = loop.index0 === 0 %}
            {% set month = postsInMonth | first %}
            <div class="[ flex ]">
                {% if isFirstMonthOfList %}<h2>{{ year }}</h2>{% endif %}
            </div>
            {% set allPosts = postsInMonth | last %}
            {% for post in allPosts %}
                <div class="[ flex items-center justify-between ]">
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                    <div class="[ archive-divider ] [ mx-0.5 ]"></div>
                    <div>{{ post.date | formatDate("MM/DD") }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</section>
