---
permalink: /feeds/all.xml
layout: null
filterTag:
    - post
    - game
    - tv
    - movie
    - book
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% set data = collections.all | filterByTags(["page", "podcast"]) %}
{% from "macros/feed.njk" import feed %}
{{ feed(meta, data, page.date, permalink, title, filterTag) }}
