---
permalink: /feeds/books.xml
layout: null
title: Books
filterTag:
    - book
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% from "macros/feed.njk" import feed %}
{{ feed(meta, collections.book, page.date, permalink, title, filterTag) }}
