---
permalink: /feeds/games.xml
layout: null
title: Games
filterTag:
    - game
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% from "macros/feed.njk" import feed %}
{{ feed(meta, collections.game, page.date, permalink, title, filterTag) }}
