---
permalink: /feeds/posts.xml
title: Posts
filterTag: 
    - post
layout: null
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% from "macros/feed.njk" import feed %}
{{ feed(meta, collections.post, page.date, permalink, title, filterTag) }}
