---
permalink: /feeds/shows.xml
title: Shows
filterTag:
    - tv
layout: null
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% from "macros/feed.njk" import feed %}
{{ feed(meta, collections.tv, page.date, permalink, title, filterTag) }}
