---
permalink: /feeds/watching.xml
layout: null
title: Watching
filterTag:
    - movie
    - tv
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% set movies = collections.movie %}
{% set tv = collections.tv %}
{% set data = movies.concat(tv) %}
{% from "macros/feed.njk" import feed %}
{{ feed(meta, data, page.date, permalink, title, filterTag) }}
